body {
	margin: 0px;
	text-align:center;
	/*padding-right: 10px;*/
}
/*.bottom_bar {
	height:10px;
	position: absolute;
	bottom: 0px;
}*/
#player {
	width: 1%;
	height: 2%;
	background-color: red;
	position:absolute;
	left: 50%;
	top: 50%;
}
.enemy, .v_enemy {
	width: 0.75%;
	height: 1.5%;
	background-color: black;
	position: absolute;
	left: 0%;
	top: 0%;
}
.report {
	margin-top:25%;
}
#score {
	position:absolute;
	margin:0px;
	top: 0px;
}
#high_score {
	position:absolute;
	margin:0px;
	right:0px;
	top:0px;
}